{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.lua"],
      "options": {
        "tabWidth": 4,
        "singleQuote": false
      }
    },
    {
      "files": ["*.json", "*.md"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
